rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      allow read: if true;
    }

    match /bots/{botId} {
      allow read: if true;
      allow write: if true;
    }

    match /subscriptions/{uid} {
      allow read: if request.auth != null && request.auth.uid == uid;
      allow read, write: if true;
    }
  }
}
